html,body{
    width: 100%;
    background-color: beige!important;
}

.header{
    background-color:#ffad33;
    margin-top: -20px;
    text-align: center;
    height: 160px;
    position: relative;


}
.header h1,h2{
   padding-top: 25px;
    color: #b30000;
    font-family: 'Love Ya Like A Sister', cursive;
}
.p{
    margin-top: -20px;

}
.header img{
    width: 150px;
    position:relative;
    margin-right: 150px;
    margin-top:20px;

}
.pull-right{
    margin-right: 60px;
    margin-top: -100px;
}

.pull-right a{
    color:#b30000;
}
.pull-right a:hover{
    color:beige;
    text-decoration: none;
    -webkit-transition: 1s;
}
.glyphicon{
    color:beige;
}
.login{
    position: relative;
}
.login p{
    color: beige;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.drop{
    position: absolute;
    top: 10px;
    right: 0;
    left: auto;
    width: 290px;
    border-radius: 0;
    padding: 5px;
    z-index: 35;
    font-family: 'Love Ya Like A Sister', cursive;
}
.drop h3{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 17px;
    margin: 0 80px 10px 0;
    text-transform: uppercase;
}
.drop button{
    font-family: 'Love Ya Like A Sister', cursive;
    text-transform: uppercase;
    background-color: beige!important;
    margin-top:-10px;
    margin-left: 30px;
}
.form-group{
    width: 200px;
}

#home-navigation{
    background-color:#ffad33;
    text-align: center;
    margin-bottom: -70px;
}
.fixed-nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 50px;
}

.clearfix{
    margin-left: 480px;
    padding: 6px;

}
.clearfix li{
    list-style: none;
    float: left;
}
.clearfix li{
    padding: 10px;

}
.border p{
    border-left: 1px solid #d1e0e0;
    padding-left: 8px;
    margin-left: -5px;
}
.clearfix li a{
    color:beige;
    text-align: center;
}

.navbar-header img{
    width: 100px;
    position:relative;
}
#eventos{
    padding-top: 100px;
}

    /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-top:-3px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #ffad33;
    border:0;
    height:60px;


}
.navbar-brand{
    font-family: 'Indie Flower', cursive;
    color:#991f00!important;

}
.navbar-brand:hover{
    color:#ffff66!important;
}
.navbar-header{
    position: relative;
}
.navbar-right{
    margin-left: -10px;
}
.icon img{
    width:30px;
    height:30px;
    float: right;

}
.icon1 img{
    margin-right: -10px;
}
.siguenos{
    font-family:'Indie Flower', cursive;
    text-align: center;
    margin-right: -85px;
    padding-left: 150px;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
.dropdown{
    display: inline-block;
    margin-left: 100px;
}
.dropdown1{
    display: inline-block;
}


.dropdown-menu{
    list-style-type:none;
    margin:0;
    padding:0;
    border:0;
}
.dropdown-menu a{
    background-color: bisque;
    color: #991f00!important;
}

.btn-primary{
    margin-top:10px;
    border: 0;
    background-color: transparent!important;

}

.btn{
    color: #991f00!important;
    font-size: 18px;
    padding-left: 1px;
    font-family:'Love Ya Like A Sister', cursive;
}
#home a{
    color: #991f00!important;
    font-size: 18px;
    padding-left: 1px;
}

#jumbotron1 h4{
    color: #ffad33;
    font-family: 'Love Ya Like A Sister', cursive;
    padding-top: 25px;
}
#jumbotron1 p{
    color: #b30000;
    font-family: 'Love Ya Like A Sister', cursive;
}
#jumbotron2{
    height: 2400px;
}
#jumbotron1 h1,#jumbotron2 h1{
    padding-top: 25px;
    color: #b30000;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
}
#jumbotron2 h2{
    border-bottom: solid;
}
#jumbotron3 p{

    color: #b30000;
    font-family: 'Love Ya Like A Sister', cursive;
}
.glyphicon-piggy-bank{
    color:#b30000;
}
.menu-entradas,.menu-carnitas,.menu-especialidades,.menu-orden,.menu-bebidas,.menu-postres{
    display: block;
    list-style: none;

}
.menu-carnitas{
    margin-bottom: -100px;
    text-align: center;
}
.menu-bebidas,#bebidas,#carnitas{
    text-align: center;
}

.menu-especialidades,.menu-postres{
    text-align: right;
}
.menu-orden{
    margin-bottom: 300px;
}
#orden{
    margin-top: -100px;
}
#entradas,#orden{
    text-align: left;
}
#postres,#especialidades{
    text-align: right;
}


.titulo{
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}
#bebidas{
    margin-top: -350px;
}
.input-group{
    margin-left: 100px;
}
#comentario{
    padding-bottom: 100px;
}
#comment{
    height: 100px;
    width: 300px;
}
footer{
    background-color:#ffad33;
    position: relative;
}
#name,#comment,#correo{
    margin-bottom: 35px;
}
.enviar{
    background-color:#ffad33;
    color:beige!important;
}
#jumbotron3 h2,#pp{
    text-align: left;
    margin-left: 100px;
}
#jumbotron3 h2{
    text-decoration: solid underline darkred;
    margin-top: -30px;
}
#img-historia{
    width: 300px;
}
#nosotros{
    padding-top: 55px;
}



/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
